.ul1{margin-top: 20%;
margin-left: 33%;}

.aa{padding-left: 20%;}

.table{width: 40%;
margin-top: 7%;
margin-left: 5%;
text-align: center;}

.ff1{
    float: right;
    width: 40%;
    margin-top: -18%;
   
}

.filed1{width: 95%;
border-radius: 5%;}

.bt1{margin-left: 35%;}